body
{
}
h1 {
    id = "mainTitle";
	text-align: center;
	font-size: 50px;
	font-style: normal;
	font-family: eckmannpsych-small, sans-serif;
	color: #136ce8; 
	text-align: center 
}

h2 {
	padding-left: 230px;
	font-size: 20px;
	display: inline-flex;
	color: #d6381c;
	font-family: eckmannpsych-small, sans-serif;
}

.topnav-centered input[type=text] {
  float: none;
  position: absolute;
  border: normal;
  font-size: 22px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 920px;
}

.topnav-centered button[type=submit] {
	float: none;
	position: absolute;
	width: 80px;
	padding: 2px;
	font-size: 22px;
	color: #136ce8;
	border: 1px solid grey;
	border-left: none; /* Prevent double borders */
	cursor: pointer;
	top: 50%;
	left: 76.3%;
	transform: translate(-50%, -50%);
}

/*.nav{
	display:flex;
}

.nav ul {
	margin:0 3rem 0 0;
	padding:0;
	list-style:none;
	display:flex;
	flex:1 0 0%;
	justify-content:space-between
}

.nav ul a {
	display:block;
	padding:5px 10px;
}
*/

