body {}

h1 {
    id = "mainTitle";
	text-align: center;
	font-size: 50px; 
	font-style: normal;
	font-family: eckmannpsych-small, sans-serif;
	color: #136ce8; 
	/* padding-top: 0.3%; */
}

/*
h2 {
	padding-left: 12%;
	font-size: 20px;
	display: inline-flex;
	color: #d6381c;
	font-family: eckmannpsych-small, sans-serif;
}
*/

h3 {
	padding-left: 12%;
	padding-top: 5%;
	font-size: 30px;
	color: #f5bc20;
	font-family: eckmannpsych-small, sans-serif;
}

.nav ul {
	position: fixed;
	width: 100%; 
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: #d6381c; 
	overflow: hidden;
	text-align: center;
}

.nav li {
	display: inline;
	/* float: left; */
	color: #f5bc20;
	font-family: eckmannpsych-small, sans-serif;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

.nav li a {
    padding: 100px;
    color: #d6381c;
    display: inline;
    font-size: 20px;
    text-align: center;
	text-decoration: none;
	font-weight: bold;
}

.nav li a:hover {
    color: #f5bc20;
}

.nav .active {
    color: #f5bc20;
}

.topnav-centered input[type=text] {
  float: none;
  position: absolute;
  border: normal;
  font-size: 22px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 920px;
}

.topnav-centered button[type=submit] {
	float: none;
	position: absolute;
	width: 80px;
	padding: 2px;
	font-size: 22px;
	color: #136ce8;
	border: 1px solid grey;
	border-left: none; 
	cursor: pointer;
	top: 50%;
	left: 76.3%;
	transform: translate(-50%, -50%);
}

p {
	padding-left: 12%;
	padding-right: 15%;
	padding-top: 40px;
	font-size: 20px;
	color: #136ce8;
}

ul {
	padding-left: 13%;
	font-size: 20px;
	color: #136ce8;
}






